{% extends "encyclopedia/layout.html" %}
{% block body %}
<!--Material textarea-->
<h1>Enter the new page details below</h1>
<form action="{% url 'new_page' %}" method = "POST">
   {% csrf_token %}
    <input class="form-control" type="text" placeholder="Page Name" name = "name">
   
<div class="md-form">
    <label for="form7">Enter the page content</label>
    <textarea id="form7" class="md-textarea form-control" rows="3" placeholder = "Enter the content..." name = "content"></textarea>
    
  </div>
  <input type="submit">

</form>
 
{% endblock %}